# Python
__pycache__/
*.py[cod]
*.pth
.env

# Database
fridgeai-backend/db/*.sqlite

# Node
fridgeai-frontend/node_modules/

# Build outputs
fridgeai-frontend/dist/

# Misc
.pytest_cache/
*.egg-info/
.DS_Store
